/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  justify-items: center;
  padding: 101px 0px;
  font-size: 14px;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-text-weight);
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), sans-serif;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  inline-size: var(--card-width);
  align-items: center;
  padding: 120px 14px;
  margin-block-end: 100px;
  background-color: var(--bg-color);
}

.border_block {
  outline: 2px var(--accent-color) solid;
}

.header_title {
  font-weight: var(--title-text-weight);
  font-family: 'Press Start 2P', sans-serif;
  line-height: 49px;
  text-transform: uppercase;
}

.header_text {
  font-weight: var(--title-text-weight);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card_item {
  background-color: var(--bg-color);
}

.card_content {
  background-color: var(--bg-color);
}

.article_title {}

.card_picture {
  position: relative;`
  line-height: 0;
  background-color: var(--bg-color);
}

.picture_image {
  height: 100%;
  width: 100%;
}

.image_tag {
  position: absolute;
  mix-blend-mode: hard-light;
  inset-block-start: clamp(1.875rem, 1.831rem + 0.1878vw, 2rem);
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  color: color-mix(in srgb, var(--accent-color) 50%, transparent);
  text-shadow: -1px 0 color-mix(in srgb, var(--accent-color) 50%, transparent),
    0 1px color-mix(in srgb, var(--accent-color) 50%, transparent),
    1px 0 color-mix(in srgb, var(--accent-color) 50%, transparent),
    0 -1px color-mix(in srgb, var(--accent-color) 50%, transparent);
  font-family: var(--accent-font), fantasy, sans-serif;
  font-size: var(--main-text-size);
}

@supports (
  (text-stroke: 1px #000000) or
    (
      -webkit-text-stroke: 1px color-mix(in srgb, var(--accent-color) 50%, transparent)
    )
) {
  .image-tag {
    -webkit-text-stroke: 1px
    text-shadow: none;
    text-stroke: 1px color-mix(in srgb, var(--accent-color) 50%, transparent);
    color-mix(in srgb, var(--accent-color) 50%, transparent);
  }
}

.article_text {
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--main-text-weight);
}

.card_buttons {}

.dialog[open] {
  display: flex;
  position: fixed;
  inset: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  padding-block: 25px;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog_description {
  font-family: var(--accent-font),sans-serif;
  line-height: 150%;
  inline-size: clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
}
.dialog .button-save__icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog_button {
  grid-row: 2 / 3;
  padding-block: 12.5px;
  inline-size: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

@media (width <=375px) {}